[submodule "lib_orig/c4"]
	path = lib_orig/c4
	url = https://github.com/bloom-lang/c4.git
        ignore = dirty
[submodule "lib_customMain/c4"]
	path = lib_customMain/c4
	url = https://github.com/bloom-lang/c4.git
        ignore = dirty
